.app-container {
  display: flex;
}

.goals-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  overflow-x: auto; /* Enable horizontal scrolling */
}

.goal-card {
  min-width: 250px; /* Set a minimum width to prevent cards from becoming too narrow */
}


@media (max-width: 800px) {
  .goals-grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 500px) {
  .goals-grid {
    grid-template-columns: 1fr;
  }
  
  .goal-card {
    max-width: none;
  }
}
