.goal-card {
  background-color: #fff;
  border-radius: 35px;
  padding-top: 20px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.goal-icon {
  font-size: 50px;
  margin-bottom: 10px;
}

.play-button {
  background: #020E0F;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 35px;
  height: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  text-align: left;
}
