.goal-card {
  background-color: #fff;
  border-radius: 35px;
  padding-top: 20px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.goal-icon-img {
  width: 10rem;  /* Adjust the size as needed */
  margin-bottom: 10px;
}


.play-button {
  background: #000000;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 35px;
  height: 90px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.titleti{
  padding-left: 10%;
  font-size: 1.4rem;
  color: white;
}

.goalti{
  padding-left: 10%;
  font-size: 1rem;
  color: #808687;
}
