.search {
    display: flex;
    border: none;
    color: transparent;
    .searchItem {
        &:first-child {
            flex: 1;
        }
        &:last-child {
            display: flex;
            justify-content: space-between;         
        }      
    }
    .icon {
        float: right;
        cursor: pointer;
        border: none;
        background-color: white;
        margin-left: 10px;         
        img {
            height: 40px;
            width: 40px;
            border: none;       
        }
    }
}