.search-bar {
  margin-bottom: 20px;
  position: relative;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  font-size: 16px;
  background-color: #D9D9D9;
  border: none;
}
.search-bar img {
  position: absolute;
  right: 10px;
  top: 4px;
  height: 30px;
}
