.sidebar {
  width: 250px;
  background-color: #020E0F;
  color: white;
  padding: 20px 10px;
  height: 95vh; 
  border-radius: 30px; /* Rounded corners */
  margin: 20px; /* Adds space around the sidebar */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.allIcons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allIcons li {
  margin: 10px 0; /* Space between items */
}

.sidebar-button {
  width: 200px;
  height: 8vh; 
  background-color: #1B2627;
  border: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 50px; /* Rounded rectangle for the buttons */
  transition: background-color 0.3s;
}

.sidebar-button:hover {
  background-color: #333333; /* Darker background on hover */
}

.sidebar-button img {
  width: 25px;
  height: 30px;
  margin-left: 10px;
  margin-right: 25px; /* Space between icon and text */
}

.sidebar-button span {
  font-size: 20px; /* Adjust font size */
}

.sidebar-button:focus {
  outline: none;
}

.sidebar-container {
  padding-left: 20px; /* Add space to the left of the sidebar */
  padding-top: 20px; /* Add space to the top of the sidebar */
}

.sidebar-profile{
  background-color: transparent;
}
.sidebar-profile img{
  width: 200px;
  height: 200px;
  cursor: pointer;
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%; /* Full width on smaller screens */
    height: auto; /* Adjust height to auto on smaller screens */
    margin: 10px; /* Reduce margin on smaller screens */
    padding: 15px; /* Reduce padding on smaller screens */
    position: static; /* Remove sticky positioning on smaller screens */
  }

  .allIcons li {
    margin: 8px 0; /* Further reduce space between buttons on smaller screens */
  }

  .sidebar-button {
    width: 100%; /* Full width for buttons on smaller screens */
    justify-content: center; /* Center-align text and icon */
  }

  .sidebar-button img {
    margin-right: 5px; /* Less space between icon and text */
  }
}
