.games {
    .search {
        display: flex;
        .searchItem {
            &:first-child {
                flex: 1;
                margin-right: 45px;
            }
            &:last-child {
                width: 60px;
                display: flex;
                justify-content: space-between;
                margin-top: 3px;
            }
            .icon {
                height: 30px;
                width: 30px;
                
                img {
                    height: 30px;
                
                }
            }
        }
    }
    .text {
        display: flex;
        justify-content: space-between;
        background-color: #F4F3F3;
        padding: 20px 25px 30px;
        border-radius: 20px;
        margin-top: 30px;
        .textItem {
            &:first-child {
                flex: 1;
                .header {
                    font-size: 28px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }
                .content {
                    font-size: 22px;
                    line-height: 30px;
                }
            }
            &:last-child {
                width: 136px;
                display: flex;
                justify-content: center;
                img {
                    height: 100px;
                    width: 140px;
                }
            }
        }
    }
    .bgImg {
        height: 1000px;
        width: 100%;
        margin-top: 40px;
        border-radius: 20px;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
        }
    }
   
}