.app {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

.left-column {
  flex: 0 0 300px;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  height: 100vh;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
}

.right-column {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  position: relative; /* Allow positioning within the right column */
}

/* Common Button Styling */
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 25px; /* Rounded border */
  transition: background-color 0.3s, color 0.3s; /* Smooth color transition */
}

.next-button {
  position: absolute;
  bottom: 20px;
  right: 20px; /* Align to the right */
  background-color: black;
  color: white;
}

.back-button {
  position: absolute;
  bottom: 20px;
  left: 20px; /* Align to the left */
  background-color: black;
  color: white;
}

.next-button:hover,
.back-button:hover {
  background-color: white;
  color: black;
}

/* Media Query for mobile devices */
@media (max-width: 768px) {
  .content-container {
    flex-direction: column;
  }

  .left-column {
    flex: none;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    position: relative;
  }

  .right-column {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow-y: auto;
  }

  .next-button,
  .back-button {
    bottom: 10px;
  }

  .next-button {
    right: 10px;
  }

  .back-button {
    left: 10px;
  }
}
