.password-field {
    display: block;
    margin-bottom: 20px;  /* Add uniform spacing between password fields */
  }
  
  .password-input {
    position: relative;  /* Allows positioning of the icon inside */
    width: 100%;
  }
  
  .password-input input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Space for the icon */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #EFEFEF;  /* Set background color */
    box-sizing: border-box;  /* Ensures padding is included in width calculation */
  }
  
  .toggle-visibility {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .toggle-visibility img {
    width: 20px;
    height: 20px;
  }
  